# This is a mapping configuration file.
# Your input may not have the same column headers/keys as required by the tool. Don't worry, this file will help on the keys mapping.
# (If your input already have the following fields, you don't need to worry about this file.)
#
#   To activate this mapping configuration, use the option "--mapping"
#   i.e.
#   python genabout.py --mapping [Input File] [Generated Location]
#
#
# The current convention is to append the '.ABOUT' after the filename, OR
# replace the last '/' with the '.ABOUT' for directories.
#
#
# Below are the fields that are needed in the genabout.py
#   - Essential Fields: Fields that are essential for the genabout.py to execute.
#   - Mandatory Fields: These are the mandatory fields for the ABOUT specification. 
#       Although the genabout.py will still be able to generate ABOUT files if these fields are blank,
#       it's highly recommend to have these fields filled in.
#
# How to example:
#   Assuming your input have columns "Resource", "Component", "file_name", "file_version"
#   One should do:
#
#   about_resource: file_name
#   about_file: Resource
#   name: Component
#   version: file_version
#
#   See http://www.dejacode.org/about_spec_v0.8.1.html for more information

# Essential Fields
about_resource: file_name
about_file: Directory/Filename


# Mandatory Fields
name: Component
version: Confirmed Version