# AboutCode mapping configuration file
# When you generate ABOT files from a CSV inventory, this file is used to map
# your column headers to standard ABOUT fields.
#
#   To activate this mapping configuration, use the option "--mapping"
#   i.e.
#   python genabout.py --mapping [Input File] [Generated Location]
#
# Below are the fields that are needed in the genabout.py
#   - Essential Fields: Fields that are essential for the ABOUT Code.
#   - Mandatory Fields: These are the mandatory fields for the ABOUT specification. 
#       Although ABOUT Code will still be able to generate ABOUT files if these fields are blank,
#       it's highly recommend to have these fields filled in.
#
# How to example:
#   Assuming your input have columns "Resource", "Component", "file_name", "file_version"
#   One should do:
#
#   about_file: Resource
#   name: Component
#   version: file_version
#
# In addition, if there are fields that you want to put in the ABOUT
# files, please use the 'Custom Fields' to include these fields.
#
#   Note: All the Custom Field's keys will be converted to lower case and 
#         all the spaces will be replaced by '_'
#
#
#   See http://www.dejacode.org/about_spec_v0.8.1.html for more information
#

# Essential Fields
about_file: Directory/Filename

# Mandatory Fields
name: Component
version: Confirmed Version

# Optional Fields
copyright: Confirmed Copyright


# Custom Fields
confirmed_license: Confirmed License