*.py[cod]

/build
/bin
/var
/lib
lib64
/Include
/Lib
/Scripts
/include
/local

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
/.settings

# PyCharm project
.idea/

/*.egg_info
