# This is a mapping configuration file.
# Your input may not have the same column headers/keys as required by the tool. Don't worry, this file will help on the keys mapping.
# (If your input already have the following fields, you don't need to worry about this file.)
#
#   To activate this mapping configuration, use the option "--mapping"
#   i.e.
#   about [command] --mapping [ARGS]...
#
# Below are the fields that are needed for the tool:
#   * about_file_path
#   * name
#
# Syntax:
# <attributecode key>: <input key>
#
# Example:
#   Assuming your input have columns "Resource", "Component", "Confirmed Version", "Confirmed Copyright", "Confirmed License"
#   One should do:
#
#   about_file_path: Resource
#   name: Component
#
# In addition, if there are fields that you want to put in the ABOUT
# files, please use the 'Custom Fields' to include these fields.
#
#   Note: All the Custom Field's keys will be converted to lower case and 
#         all the spaces will be replaced by '_'
#
#
#   See http://www.dejacode.org/about_spec_v0.8.1.html for more information
#

# Essential Fields
about_file_path: about_file
name: Component

# Optional Fields
version: Confirmed Version
copyright: Confirmed Copyright

# Custom Fields
license_expression: dje_license_key